<style>
        .ag-logo-list-wrapper{
            background-color: #F6F6F5;
            padding: 24px 40px;
        }
        .ag-logo-list-container{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
        }
        .ag-recommend-text{
            padding: 14px;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid #000;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.59px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            background-color: #0000001A;
        }
        .ag-star-rating{
            display: flex;
            gap: 10px;
            padding: 10px 0;
        }
        .ag-logo-list-section{
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }
        .ag-logo-list-item{
            width: 120px;
            min-height: 40px;
            border-radius: 8px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .ag-logo-list-item img{
            height: 20px;
        }
        .ag-logo-list-border{
            width: 1px;
            min-height: 70px;
            background-color: #1B1F231A;
        }
        @media screen and (max-width: 768px){
            .ag-logo-list-wrapper{
                padding: 15px;
            }
            .ag-logo-list-container{
                display: block;
            }
            .ag-logo-list-border{
                display: none;
            }
            .ag-star-rating{
                justify-content: center;
            }
            .ag-logo-list-container{
                flex-direction: column;
            }
            .ag-logo-list-content{
                text-align: center;
            }
            .ag-logo-list-section{
                flex-wrap: nowrap !important;
                overflow-x: auto;
            }
            .ag-logo-list-item{
                flex: 0 0 28%;
            }
            
        }
    </style>
    <div class="ag-logo-list-wrapper">
        <div class="ag-logo-list-container">
            <div class="ag-logo-list-content">
                <button class="ag-recommend-text">#1 Doctor Recommended</button>
                <div class="ag-star-rating">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="none">
                            <path d="M10.0008 15.217L4.12295 18.5072L5.43573 11.9002L0.490234 7.32683L7.17943 6.53371L10.0008 0.416992L12.8222 6.53371L19.5113 7.32683L14.5659 11.9002L15.8787 18.5072L10.0008 15.217Z" fill="#F5BD41"/>
                            <path d="M30.0008 15.217L24.123 18.5072L25.4357 11.9002L20.4902 7.32683L27.1794 6.53371L30.0008 0.416992L32.8222 6.53371L39.5113 7.32683L34.5659 11.9002L35.8787 18.5072L30.0008 15.217Z" fill="#F5BD41"/>
                            <path d="M50.0008 15.217L44.123 18.5072L45.4357 11.9002L40.4902 7.32683L47.1794 6.53371L50.0008 0.416992L52.8222 6.53371L59.5113 7.32683L54.5659 11.9002L55.8787 18.5072L50.0008 15.217Z" fill="#F5BD41"/>
                            <path d="M70.0008 15.217L64.123 18.5072L65.4357 11.9002L60.4902 7.32683L67.1794 6.53371L70.0008 0.416992L72.8222 6.53371L79.5113 7.32683L74.5659 11.9002L75.8787 18.5072L70.0008 15.217Z" fill="#F5BD41"/>
                            <path d="M90.0008 15.217L84.123 18.5072L85.4357 11.9002L80.4902 7.32683L87.1794 6.53371L90.0008 0.416992L92.8222 6.53371L99.5113 7.32683L94.5659 11.9002L95.8787 18.5072L90.0008 15.217Z" fill="#F5BD41"/>
                        </svg>
                    </div>
                    <div>
                        12,000+ 5-star Reviews
                    </div>
                </div>
            </div>
            <div class="ag-logo-list-border"></div>
            <div class="ag-logo-list-section">
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-6.png?v=1732644971" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
                <div class="ag-logo-list-item">
                    <img src="https://cdn.shopify.com/s/files/1/0906/9291/1419/files/list-icon-1.png?v=1732644419" alt="">
                </div>
            </div>
        </div>
    </div>

    {% schema %}
        {
          "name": "Logo list",
          "max_blocks": 12,
          "class": "announcement-bar-section",
          "enabled_on": {
            "templates": ["*"],
            "groups": ["header"]
          },
          "settings": [
            {
              "type": "color_scheme",
              "id": "color_scheme",
              "label": "t:sections.all.colors.label",
              "default": "scheme-4"
            }
        ],
        "blocks": [
            {
            "type": "logo",
            "name": "Logo",
            "settings": [
               
            ]
            }
        ],
        "presets": [
            {
            "name": "Logo list",
            "blocks": [
                {
                "type": "logo"
                }
            ]
            }
        ]

    }